.post {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;

  &__img img {
    width: 100%;
    height: 250px;
  }

  &__title {
    height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__excerpt {
    height: 100px;
    overflow: hidden;
  }

  &__title span,
  &__tags span,
  &__authors span {
    margin-right: 5px;
    font-weight: bold;

    &::after {
      content: ":";
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
