@mixin margin {
  @for $i from 1 to 100 {
    .m-#{$i} {
      margin: #{$i}px;
    }

    .ml-#{$i} {
      margin-left: #{$i}px;
    }

    .mr-#{$i} {
      margin-right: #{$i}px;
    }

    .mx-#{$i} {
      margin: 0px #{$i}px;
    }

    .my-#{$i} {
      margin: #{$i}px 0px;
    }
  }
}

@mixin positionCenter($dir) {
  position: absolute;

  @if ($dir == "center") {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } @else if($dir == "top") {
    left: 50%;
    transform: translateX(-50%);
  } @else {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin fontSize() {
  @for $i from 1 to 8 {
    h#{$i} {
      font-weight: 600 !important;
    }
  }
}
