@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");

@import "./mixin";
@import "./components/drawer.scss";

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace !important;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
}

.form-item {
  margin-bottom: 30px;
}

@include fontSize();
