.pagination {
  display: flex;
  margin: 10px 0px;

  &__item {
    padding: 10px 20px;
    border: 0.5px solid #ddd;
    display: block;
    cursor: pointer;

    &.active {
      background-color: #42b983;
      border: 0.5px solid #42b983;
      color: #fff;
    }
  }

  &__select {
    width: 100px;
    outline: none;
    border: 1px solid #ddd;
  }
}
