$green: #42b883;

html,
body {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-3 {
  width: 8.3333 * 3 * 1%;
}

// .v-overlay {
//   position: static !important;
//   height: auto !important;
// }

// .v-overlay__content {
//   position: static !important;
// }

// .v-overlay-container {
//   display: flex !important;
//   position: fixed !important;
//   top: 0;
//   left: 0;
//   height: 100vh !important;
//   width: 100vw !important;
// }
