.btn {
  background-color: green;
  color: white;
  padding: 8px 10px;
  margin: 5px;

  &-primary {
    background-color: green !important;
  }
  
  &-danger {
    background-color: red !important;
  }
  
  &-info {
    background-color: blue !important;
  }
}