@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('./css/variables.css');

* {
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 15px;
}

.navbar {
  padding: 10px;
  margin: 0;
  display: flex;
  list-style: none;
}

.navbar li .navbar__link {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--black);
}

.navbar li .navbar__link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: auto;
  padding: 5px 10px;
}